.DS_Store
*.box

/bosh/bin
/bosh/pkg

/output
/pkg
/releases
/src/provisioner/provision
/src/api/api
/pcfdev-base

/bin
!/bin/build
!/bin/compile-release
!/bin/fetch-assets
!/bin/setup-packer

NERD_tree_*

/*.iml
