[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "src/github.com/cppforlife/bosh-provisioner"]
	path = src/github.com/cppforlife/bosh-provisioner
	url = https://github.com/pcfdev-forks/bosh-provisioner
[submodule "src/github.com/cppforlife/packer-bosh"]
	path = src/github.com/cppforlife/packer-bosh
	url = https://github.com/cppforlife/packer-bosh
[submodule "src/provisioner/vendor/github.com/golang/mock"]
	path = src/provisioner/vendor/github.com/golang/mock
	url = https://github.com/pcfdev-forks/mock
[submodule "src/provisioner/vendor/golang.org/x/net"]
	path = src/provisioner/vendor/golang.org/x/net
	url = https://github.com/golang/net
[submodule "src/provisioner/vendor/golang.org/x/text"]
	path = src/provisioner/vendor/golang.org/x/text
	url = https://github.com/golang/text
[submodule "src/api/vendor/gopkg.in/yaml.v2"]
	path = src/api/vendor/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml
