[submodule "images/releases/cf-release"]
	path = images/releases/cf-release
	url = https://github.com/cloudfoundry/cf-release
[submodule "images/releases/diego-release"]
	path = images/releases/diego-release
	url = https://github.com/cloudfoundry-incubator/diego-release
[submodule "images/releases/etcd-release"]
	path = images/releases/etcd-release
	url = https://github.com/cloudfoundry-incubator/etcd-release
[submodule "images/releases/garden-linux-release"]
	path = images/releases/garden-linux-release
	url = https://github.com/cloudfoundry-incubator/garden-linux-release
[submodule "images/bosh/src/github.com/cppforlife/packer-bosh"]
	path = images/bosh/src/github.com/cppforlife/packer-bosh
	url = https://github.com/cppforlife/packer-bosh
[submodule "images/bosh/src/github.com/cppforlife/bosh-provisioner"]
	path = images/bosh/src/github.com/cppforlife/bosh-provisioner
	url = https://github.com/cppforlife/bosh-provisioner
[submodule "images/releases/cf-redis-release"]
	path = images/releases/cf-redis-release
	url = https://github.com/sclevine/cf-redis-release
[submodule "test/src/github.com/cloudfoundry-incubator/diego-acceptance-tests"]
	path = test/src/github.com/cloudfoundry-incubator/diego-acceptance-tests
	url = https://github.com/mdelillo/diego-acceptance-tests
